# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

build/
release/
upload/


package.coverage
coverage.txt
gowebserver
*.pem
release.tar.gz
testing/testassets.*
packaging/parts/
packaging/snap/
uploaded-files/
packaging/stage/
packaging/prime/
packaging/*.snap

stage/
prime/
snap/.snapcraft/
*.snap
embedded/bindata_assetfs.go

bazel-bin
bazel-genfiles
bazel-gowebserver
bazel-out
bazel-testlogs