# Copyright 2019 Jeremy Edwards
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

build/
release/
upload/


package.coverage
coverage.txt
gowebserver-*
*.pem
release.tar.gz
testing/testassets.*
internal/gowebserver/testing/testassets.*
internal/gowebserver/testing/nested-testassets.*
internal/gowebserver/testing/single-testassets.*
packaging/parts/
packaging/snap/
uploaded-files/
packaging/stage/
packaging/prime/
packaging/*.snap

stage/
prime/
snap/.snapcraft/
*.snap
embedded/bindata_assetfs.go

bazel-bin
bazel-genfiles
bazel-gowebserver
bazel-out
bazel-testlogs

.snapcraft/
toolchain/
bin/
.vscode/

*.key
*.cert

__debug_bin

temp/