[submodule "vendor/golang.org/x/net"]
	path = vendor/golang.org/x/net
	url = https://go.googlesource.com/net
[submodule "vendor/github.com/stretchr/testify"]
	path = vendor/github.com/stretchr/testify
	url = https://github.com/stretchr/testify.git
[submodule "vendor/github.com/beorn7/perks"]
	path = vendor/github.com/beorn7/perks
	url = https://github.com/beorn7/perks.git
[submodule "vendor/github.com/golang/protobuf"]
	path = vendor/github.com/golang/protobuf
	url = https://github.com/golang/protobuf.git
[submodule "vendor/github.com/matttproud/golang_protobuf_extensions"]
	path = vendor/github.com/matttproud/golang_protobuf_extensions
	url = https://github.com/matttproud/golang_protobuf_extensions.git
[submodule "vendor/github.com/prometheus/client_golang"]
	path = vendor/github.com/prometheus/client_golang
	url = https://github.com/prometheus/client_golang.git
[submodule "vendor/github.com/prometheus/client_model"]
	path = vendor/github.com/prometheus/client_model
	url = https://github.com/prometheus/client_model.git
[submodule "vendor/github.com/prometheus/common"]
	path = vendor/github.com/prometheus/common
	url = https://github.com/prometheus/common.git
[submodule "vendor/github.com/prometheus/procfs"]
	path = vendor/github.com/prometheus/procfs
	url = https://github.com/prometheus/procfs.git
[submodule "vendor/gopkg.in/yaml.v2"]
	path = vendor/gopkg.in/yaml.v2
	url = https://github.com/go-yaml/yaml.git
