[submodule "vendor/github.com/prometheus/client_golang"]
	path = vendor/github.com/prometheus/client_golang
	url = git@github.com:prometheus/client_golang.git
[submodule "vendor/github.com/prometheus/client_model"]
	path = vendor/github.com/prometheus/client_model
	url = git@github.com:prometheus/client_model.git
[submodule "vendor/github.com/prometheus/common"]
	path = vendor/github.com/prometheus/common
	url = git@github.com:prometheus/common.git
[submodule "vendor/github.com/prometheus/procfs"]
	path = vendor/github.com/prometheus/procfs
	url = git@github.com:prometheus/procfs.git
[submodule "vendor/github.com/beorn7/perks"]
	path = vendor/github.com/beorn7/perks
	url = git@github.com:beorn7/perks.git
[submodule "vendor/github.com/golang/protobuf"]
	path = vendor/github.com/golang/protobuf
	url = git@github.com:golang/protobuf.git
[submodule "vendor/github.com/matttproud/golang_protobuf_extensions"]
	path = vendor/github.com/matttproud/golang_protobuf_extensions
	url = git@github.com:matttproud/golang_protobuf_extensions.git
[submodule "vendor/golang.org/x/net"]
	path = vendor/golang.org/x/net
	url = https://go.googlesource.com/net
[submodule "vendor/golang.org/x/text"]
	path = vendor/golang.org/x/text
	url = https://go.googlesource.com/text
[submodule "vendor/github.com/Sirupsen/logrus"]
	path = vendor/github.com/Sirupsen/logrus
	url = git@github.com:Sirupsen/logrus.git
[submodule "vendor/github.com/julienschmidt/httprouter"]
	path = vendor/github.com/julienschmidt/httprouter
	url = git@github.com:julienschmidt/httprouter.git
[submodule "vendor/golang.org/x/crypto"]
	path = vendor/golang.org/x/crypto
	url = https://go.googlesource.com/crypto
[submodule "vendor/gopkg.in/gemnasium/logrus-airbrake-hook.v2"]
	path = vendor/gopkg.in/gemnasium/logrus-airbrake-hook.v2
	url = git@github.com:gemnasium/logrus-airbrake-hook.git
[submodule "vendor/gopkg.in/airbrake/gobrake.v2"]
	path = vendor/gopkg.in/airbrake/gobrake.v2
	url = git@github.com:airbrake/gobrake.git
[submodule "vendor/github.com/stretchr/testify"]
	path = vendor/github.com/stretchr/testify
	url = git@github.com:stretchr/testify.git
