version: '3.9'
services:
  gowebserver:
    image: docker.io/jeremyje/gowebserver:v3.1.0
    container_name: gowebserver
    hostname: gowebserver
    networks:
      - gowebserver-net
    command:
      - '-configfile=/etc/gowebserver/gowebserver.yaml'
    user: root
    ports:
      - 28080:8080
      - 28081:8443
    #restart: on-failure
    volumes:
      - ./gowebserver:/etc/gowebserver
      - gowebserver_data:/gowebserver/upload
  prometheus:
    image: prom/prometheus
    container_name: prometheus
    hostname: prometheus
    networks:
      - gowebserver-net
    command:
      - '--config.file=/etc/prometheus/prometheus.yaml'
    ports:
      - 9090:9090
    #restart: on-failure
    volumes:
      - ./prometheus:/etc/prometheus:ro
      - prom_data:/prometheus
  grafana:
    image: grafana/grafana
    container_name: grafana
    hostname: grafana
    networks:
      - gowebserver-net
    ports:
      - 3000:3000
    #restart: on-failure
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=grafana
    volumes:
      - ./grafana/datasources:/etc/grafana/provisioning/datasources:ro
      - ./grafana/dashboards:/etc/grafana/provisioning/dashboards:ro
  jaeger:
    image: jaegertracing/all-in-one:latest
    container_name: jaeger
    hostname: jaeger
    networks:
      - gowebserver-net
    ports:
      - "6831:6831/udp"
      - 16686:16686
      - 14268:14268
volumes:
  gowebserver_data:
  prom_data:
networks:
  gowebserver-net:
    driver: bridge
